/*Style of footer class*/
.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: black;
    border-radius: 6px;
  }
  
  /*Style of footer row of footer class*/
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  
  /*Style of header h4 of footer row of footer class*/
  .footer-row .footer-col h4 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
  
  /*Style of links of footer row of footer class*/
  .footer-col .links {
    margin-top: 20px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 5px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  /*Style of incons class of footer icons of footer class*/
  .footer-icons .icons {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
    cursor: pointer;
    justify-content: center;
    font-size:34px;
  }
  
  .footer-icons .icons i {
    color: white;
  }
  
  .footer-icons .icons i:hover  {
    color: blue;
  }
  
  .footer-icons h4 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
  