/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #343434;
  box-shadow: 0 4px 10px gray;
  z-index: 1;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #343434;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.nav .user-icon{
  font-weight: 10px;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

/* ___Services___ */

/* Using a flex box property to display the images in rows */
/* Idea gotten and modified from GreatStack and Mr. Web Designer's Youtube channels. */
.serv{
  padding-top: 100px;
}

.servrow{
  display: flex;
  flex-wrap: wrap;  /*--Allows content shift to page bottom--*/
  padding: 30px;
  margin-top: 2%;

  justify-content: space-between;
}

.serv h1{
  text-align: center;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: bolder;
}
.serv p{
  text-align: justify;
  line-height: 20px;
  width: 80%;
  padding-left: 20%;
}

.servcol{
  flex-basis: calc(30% - 20px);  /* Adjusted to fit content and allow proper breaking */
  /* border-radius: 30px; */
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.servcol img{
  width: 100%;
  height: 100%;
  display: block;
}

.layer{
  height:100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  text-align: center; 
  transition: 0.5s;
}

.layer:hover{
  color: rgb(65, 65, 65);
  background-color:rgba(49, 86, 121, 0.7); 
  transform: scale(1.02);
  letter-spacing: 0.2em;
}

.layer h2{
  width: 100%;
  color: white;
  font-size: 30px;
  font-weight: 400;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h2{
  bottom: 50%;
  opacity: 1;
}


.layer a{
  text-decoration: none;
  width: 100%;
  color: white;
  font-weight: 400;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}


.layer:hover a{
  bottom: 30%;
  opacity: 1;
  letter-spacing: 0em;
  background-color: #343434;
  border: 1px solid white;
  width: 30%;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* ----responsive sections for services---- */
@media screen and (max-width: 768px){
  .servrow{
      flex-direction: column;

  }
}

/* ---Design for each page about a service we offer */
.contentholder h1{
  margin-top: 3.5%;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  background-color: #343434;
  color: white;
  padding: 1%;
}

.contentholder P{
  padding: 2%;
  width: 100%;
  text-align: justify;
}

.steps{
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #343434;
  padding: 1%;
  letter-spacing: 0.1em;
}

.contentholder .servcol{
  border-radius: 2%;
  padding: 2%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
}

.contentholder .servcol h2{
  background-color: #343434;
  color: white;
}

@media screen and (max-width: 768px){
  .contentholder h1{
    margin-top: 12.5%;
    
  }

}


/* ___Footer___ */
.footer{
  width: 100%;
  padding: 1%;
  text-align: center;
  background-color: grey;
  margin-top: 5%;

}

.footer h3{
  margin-bottom: 20px;
}

.footer p{
  width: 50%;
  margin-bottom: 5%;
  text-align: justify;

}


/* Academy CSS */
/* Please don't edit my code. */
/* Body Content */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 70px auto;
  padding: 20px;
  gap: 20px;
}

.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list .card-item:hover {
  border: 2px solid #000;
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  display: inline-block;
  background: #F7DFF5;
  margin-top:32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {
  background-color: #F7DFF5; 
  color: #B22485;
}   

.card-list .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-list .editor {
  background-color: #d6f8d6; 
  color: #205c20;
}

.card-item h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card-item .arrow-text {
  display: inline;
  color: #000
}

.card-item .arrow-text .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow  {
  background: #000;
  color: #fff; 
}

@media (max-width: 1200px) {
  .card-list .card-item {
      padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
      margin: 0 auto;
  }
}



/* Portfolio CSS start */
html, main{
  height: 100%;
  width: 100%;
}
#main{
  position: relative;
  /* so that the pages may not oerflow */
  overflow: hidden;
  /* extra things will hide */
}
#page{
  /* to take space of the page but ot the main */
  position: relative;
  height: 80vh;
  width: 100vw;
  background-color: #efefef;
}

.card_description:hover{
  letter-spacing: 0.1em;
  cursor: default;
  border-bottom: solid 2px black;
  padding: 0;

}

#page>img{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5%;
}
#text{
  padding: 30px 50px;
  position: absolute;
  top: 15%;
  left: 10%;
  height: 65%;
  width: 45%;
}
#text>h1{
  margin-top: 20px;
  font-size: 60px;
  line-height: 1;
}
#text>h2{
  font-size: 20px;
}
#text>h4{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}
#text>h5{
  transform: rotate(-40deg);
  position: absolute;
  left: 4%;
  font-size: 20px;
}
#buttons{
  margin-left: 20px;
  position: absolute;
  left: 10%;
  bottom: 2%;
  height: 10%;
  width: 40%;
}
#buttons>button{
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  background-color: gray;
  font-weight: bold;


}
#buttons>button>i{
  font-size: 15px;
}
#page1{
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: #efefef;
}
#page1>#right{
  position: absolute;
  right: 5%;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  background-color: #EFEFEF;
}
#page1>#right>.box{
  display: inline-block;
  justify-content: center;
  height: 33.33%;
  width: 100%;
  background-color: #efefef;
  border-top: 2px solid black;
}
.box>h1{
padding: 10px 20%;
font-size: 30px;
}
.box>h4{
padding: 10px 20%;
font-weight: 20;
}
.circle{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
right: 30%;
height: 2vw;
width: 2vw;
border-radius: 50%;
background-color: grey;
}
.circle>i{
color: #fff;
font-size: 20px;
}

.circle:hover{
  background-color: #343434;
}

#page1>#leftpg1{
position: relative;
height: 100%;
width: 50%;
}
#page1>#leftpg1>.expertise{
position: absolute;
margin-top: 60px;
left: 20%;
}
#page1>#leftpg1>.expertise>h3{
font-size: 30px;
line-height: 55px;
}
#page1>#leftpg1>.expertise>p{
font-size: 20px;
line-height: 40px;
}
#text1{
margin: 50px 50px;
height: 30%;
width: 80%;
}
.container{
max-width: 100rem;
margin-inline: auto;
padding-inline: 2rem;
background-color: #efefef;
}
#project_completed{
padding: 15px 30px;
font-size: 25px;
}

/* Utility Class */
.stacked{
display: grid;
}
.stacked>*{
/* puts the images and fonts together */
grid-column: 1/2;
grid-row: 1/2;
}
.stacked>img{
padding: 0 2rem;
}
.card__content{
width: 400px;
background-color: lightgray;
align-self: end;
margin: 0.3rem 2rem;
padding: 0.3rem 2rem;
line-height: 25px;
}
.product-grid{
padding-bottom: 20px;
display: grid;
gap: 1.5rem;
grid-template-columns: 
    repeat(auto-fit, minmax(27rem, 1fr));
}
.card{
background-color: white;
border-radius: 2%;
border: 2px solid black;
}
@media only screen and (max-width: 1244px){
#page{
  height: 100vh;
}
#page>img{
  /* width: 300px; */
  left: 40%;
  top: 35%;
}
#buttons{
  bottom: 15%;
}
#text{
  top: 45%;
  width: 100%;
  left: 0;
}
.circle{
height: 3vw;
width: 3vw;
}
}
@media only screen and (max-width: 912px){
#page>img{
  width: 300px;
  left:35%;
  top: 30%;
}
.circle{
  right: 50%;
  height: 3vw;
  width: 3vw;
}
#project{
  height: 20%;
}
.p2{
  position: absolute;
  top: 100%;
}
.p3{
  position: absolute;
}
.projectsdone{
  width: 30%;
}
}
@media only screen and (max-width: 570px){
#page>img{
  /* width: 250px; */
  left:15%;
  top: 30%;
}
#page1{
  height: 80vh;
}
.circle{
  right: 50%;
  height: 3vw;
  width: 3vw;
}
#page1>#leftpg1>.expertise>p{
  line-height: 27px;
}
.project_completed{
  padding-top: 20px;
}
.stacked>img{
  padding: 0;
}
.container{
  /* max-width: 100rem; */
  padding-inline: 0;
}
#page1>#leftpg1>.expertise>h3{
  font-size: 30px;
  line-height: 40px;
}
.card__content{
  margin: 0.3rem 0;
  padding: 0.3rem 0;
}
}
/* Portfolio CSS End */

/* About US*/
.about-us{
  width: 100%;
  padding: 0px;
  background: #fff;
  padding-bottom: 0px;
}

.about-us .about{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .text{
  width: 80%;
  text-align: justify;
  padding-top: 100px;
}

.about .text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.text h3{
  font-size: 30px;
  margin-bottom: 10px;
}

.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.data{
  margin-top: 50px;
  padding-bottom: 0px;
}

.team-member{
  padding-top: 40px;
}

.team-member p{
  font-size: 18px;
  background: #00000055;
  color: black;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
}

/*about us css end*/



/* Footer CSS */
.footer {
  width: 100%;
  background: #343434;
  border-bottom:1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

/*Style of footer row of footer class*/
.footer .footer-row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 15rem;
  padding-bottom: 10px;
  padding-top: 20px;
}

/*Style of header h4 of footer row of footer class*/
.footer-row .footer-col h4 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/*Style of links of footer row of footer class*/
.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 5px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

/*Style of incons class of footer icons of footer class*/
.footer-icons .icons {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 50px;
  cursor: pointer;
  justify-content: center;
  font-size:24px;
}

.footer-icons .icons i {
  color: #afb6c7;
}

.footer-icons .icons i:hover  {
  color: #fff;
}

.footer-icons h4 {
  color: #afb6c7;
  text-align: center;
  margin-bottom: 10px;
}
/*CSS for home starts here */
.homepage {
  height: 90vh;
  width: 100%;
  position: relative;
  background: url("./media/bg.jpg");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}
.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
/* vision css starts here */
.items {
  flex-basis: 50%;
    padding: 20px;
}
.items h2{
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.vision {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vision .items img {
    width: 100%;
    height: auto;
    max-width: 6016px;
    max-height: 4016px;
}

.items p{
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20%;
  float: left;
}
/* responsive design */
@media screen and (max-width: 768px){
  .vision{
    flex-direction: column;
  }
}
@media screen and (max-width: 980px) {
  .card-list {
      margin: 0 auto;
  }
}

/*Board CSS*/
.board{
  display:block
}
.board h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 980px) {
  .board {
      margin: 0 auto;
  }
}

/* Slider CSS */
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  z-index: 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: black;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.surveyimages{
  display:block;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #343434;
  padding: 1%;
  letter-spacing: 0.1em;
}
/* css for surveying.html */
/* .galleryrow{
  display: flex;
  flex-wrap: wrap;  --Allows content shift to page bottom--
  padding: 30px;
  margin-top: 2%;
  justify-content: space-between;
} */

/* .gallery h2{
  text-align: center;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: bolder;
}
.gallery p{
  text-align: justify;
  line-height: 20px;
  width: 80%;
  padding-left: 20%;
}

.gallerycol{
  flex-basis: calc(30% - 20px);  /* Adjusted to fit content and allow proper breaking */
  /* border-radius: 30px;
  margin-bottom: 30px; */
  /* position: relative;
  overflow: hidden;
}

.gallerycol img{
  width: 100%;
  display: block;
} */ */
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}
section h2 {
  font-size: 2rem;
}
section > p {
  text-align: center;
}
section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}
section .cards .card {
  background: #fff;
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}
.gallery .cards .card {
  padding: 0 0 20px;
}
.gallery .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}
.gallery .card p {
  padding: 0 15px;
  margin-top: 5px;
}

@media (max-width: 1200px) {
  .card-list .card-item {
      padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
      margin: 0 auto;
  }
}
.swiper-navBtn{
  color: black;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: paleturquoise;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: black;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}



@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
